:root {
  --main-bg: #111111;
  --sub-bg: #131313;
  --main-text: #ffffff;
  --sub-text: #cccccc;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

* {
  box-sizing: border-box;
  transition: all .2s;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 80px minmax(calc(100vh - 80px), auto) auto;
  background: var(--sub-bg);
  color: var(--main-text);
}

hr {
  color: var(--main-text);
}

.title {
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.page-header {
  background: var(--main-bg);
  position: sticky;
  top: 0;
  grid-column: 1/12;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  box-shadow: var(--shadow);
  font-weight: 500;
}

.page-header a {
  color: var(--main-text);
  text-decoration: none;
}

.header-container {
  flex: 1;
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.header-container-left {
  margin: 0 0 0 24px;
  justify-content: flex-start;
}

.header-container-right {
  margin: 0 24px 0 0;
  justify-content: flex-end;
}

.header-item {
  white-space: nowrap;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
  transition: border .2s;
}

.header-item-left {
  margin-right: 32px;
}

.header-item-right {
  margin-left: 32px;
}

.header-item-underline {
  border-bottom: 2px solid transparent;
}

.header-item-underline:hover, .header-item-underline:active {
  border-bottom: 2px solid var(--main-text);
}

.header-item-active {
  border-bottom: 2px solid var(--main-text);
}

.header-img {
  width: 6.5rem;
}

.header-socials {
  font-size: 1.8rem;
}

.header-dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 1rem 0 0 0;
  box-shadow: var(--shadow);
  border-top: 2px solid var(--main-text);
  list-style: none;
  background: var(--sub-bg);
}

.header-dropdown-item {
  font-size: 1.1rem;
  padding: 12px 20px 12px 12px;
}

.header-dropdown-item:hover {
  background: var(--main-bg);
}

.header-dropdown:hover > .header-dropdown-content,
.header-dropdown:focus-within > .header-dropdown-content,
.header-dropdown .header-dropdown-content:hover {
  visibility: visible;
  opacity: 1;

}

.header-dropdown:hover .fa-caret-down {
  transform: rotate(180deg);
}

.intro-section {
  grid-column: 1/12;
  grid-row: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(360deg, var(--sub-bg) 0%, #13131300 15%), url("/src/img/bg.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.intro-container {
  margin: auto;
  padding: 24px;
  max-width: 800px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.intro-img {
  margin-right: 32px;
  border-radius: 50%;
  min-width: 200px;
  width: 200px;
}

.intro-desc {
  font-weight: 400;
}

.see-work {
  margin-bottom: 48px;
}

.see-work-item {
  font-weight: 400;
  text-align: center;
}

.main-section {
  grid-column: 3/10;
  padding: 32px;
  display: flex;
  flex-flow: column;
}

.main-title {
  margin-bottom: 24px;
  grid-column: span 2;
}

.main-title-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.photography-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  padding: 12px;
  background: var(--main-bg);
  box-shadow: var(--shadow);
  margin: 0 0 3rem 0;
}

.photograph {
  height: 40vh;
  flex-grow: 1;
  padding: 12px;
}

.photography-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.area-container {
  display: flex;
  background: var(--main-bg);
  box-shadow: var(--shadow);
  margin: 0 0 3rem 0;
}

.img-area {
  width: 400px;
  min-width: 400px;
  min-height: 320px;
  background-position: center;
  background-size: cover;
}

.desc-area {
  padding: 0 30px 30px 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.desc-details {
  display: flex;
  flex-flow: column;
}

.title-category {
  display: flex;
  align-items: center;
}

.area-title {
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.category-icon {
  margin-left: auto;
  font-size: 2rem;
}

.area-description {
  line-height: 1.5rem;
}

.area-description-link {
  color: var(--main-text);
  font-weight: 700;
}

.testemonial {
  padding-left: 12px;
  border-left: 2px solid var(--main-text);
  font-size: .9rem;
}

.link-area {
  display: flex;
  flex-flow: row wrap;
}

.link {
  font-size: 2.75rem;
  color: var(--main-text);
  margin-right: 28px;
  border-bottom: 2px solid transparent;
}

.link:hover, .link:active {
  border-bottom: 2px solid var(--main-text);
}

#rtbyte { background-image: url('/src/img/projects/dev/rtbyte.jpg'); }
#rasmusgerdin { background-image: url('/src/img/projects/dev/rasmusgerdin.jpg'); }
#barren { 
  background-image: url('/src/img/projects/videography/barren.jpg');
  background-position: left; 
}
#consciousness { background-image: url('/src/img/projects/videography/consciousness.jpg'); }
#the-code { background-image: url('/src/img/projects/voice-acting/the-code.png'); }
#hilda-hughes { background-image: url('/src/img/projects/voice-acting/hilda-hughes.jpg'); }

#rasmusgerdin-wideangle { background-image: url('/src/img/rasmus-wide.jpg'); }

@media only screen and (max-width: 1400px) {
  .main-section {
    grid-column: 2/11;
  }
  .img-area {
    width: 350px;
    min-width: 350px;
  }
  .link {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .img-area {
    width: 300px;
    min-width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .header-container-left {
    justify-content: center;
  }
  .header-container-right {
    display: none;
  }
  .header-item {
    font-size: 1.25rem;
  }
  .header-item-left {
    margin-right: 24px;
  }
  .header-img {
    width: 5.5rem;
  }
  .intro-container {
    flex-flow: column;
  }
  .intro-img {
    margin-right: 0;
    margin-bottom: 12px;
    min-width: 175px;
    width: 175px;
  }
  .title, .intro-desc {
    text-align: center;
  }
  .header-dropdown-content {
    padding: .9rem 0 0 0;
  }
  .header-dropdown-item {
    font-size: 1rem;
    padding: 12px 12px 12px 12px;
  }
  .main-section {
    grid-column: 1/12;
  }
  .about-textarea-container {
    padding: 2rem;
  }
  .about-textarea {
    text-align: center;
  }
  .area-container {
    flex-flow: column;
  }
  .img-area {
    width: 100%;
    min-width: 100%;
    min-height: 200px;
  }
  .area-title {
    font-size: 1.75rem;
  }
  .category-icon {
    font-size: 1.75rem;
  }
  .about-page-img {
    background-position: left 0 top 30%;
  }
}

@media only screen and (max-width: 500px) {
  .header-img {
    width: 4.5rem;
  }
  .header-item {
    font-size: 1rem;
  }
  .intro-desc {
    font-size: 1.2rem;
  }
  .see-work-item {
    font-size: 1rem;
  }
  .header-dropdown-content {
    padding: .8rem 0 0 0;
  }
  .header-dropdown-item {
    font-size: .8rem;
    padding: 10px 10px 10px 10px;
  }
  .area-title {
    font-size: 1.5rem;
  }
  .category-icon {
    font-size: 1.5rem;
  }
  .about-page-img {
    background-position: center;
  }
}

@media (max-aspect-ratio: 1/1) {
  .photograph {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .photograph {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photography-container {
    flex-direction: row;
  }

  .photograph {
    height: auto;
    width: 100%;
  }

  .photography-image {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}